.image-slider {
  &__controls {
  }
  &__before {
  }
  &__trackbar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    overflow: hidden;
    height: 11px;
    border-radius: 5px;
    box-shadow: 0 0 0 4px #fff, 0 0 0 5px #cdcdcd;
    &::-webkit-slider-runnable-track {
      background-color: #fff;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
      width: 6px; /* 1 */
      height: 6px;
      background: dodgerblue;
      box-shadow: -100vw 0 0 100vw dodgerblue;
    }
    &:focus {
      outline: none;
    }
  }
  &__after {
  }
}
