.image-slider {
  &__controls {
    display: flex;
    align-items: center;
  }
  &__button {
    border: none;
    background-color: transparent;
    text-transform: uppercase;
  }
  &__trackbar {
    margin: 0 20px 0 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    height: 6px;
    border-radius: 5px;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #cdcdcd;
    &::-webkit-slider-runnable-track {
      background-color: #fff;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 6px;
      height: 6px;
      background: #68b738;
      border-radius: 50%;
      box-shadow: -100vw 0px 0px calc(100vw - 3px) #68b738;
    }
    &:focus {
      outline: none;
    }
  }
  &__images {
    position: relative;
    width: 100%;
    max-height: 100%;
  }
  &__image {
    width: 50%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    & img {
      position: absolute;
      height: 100%;
      object-fit: cover;
      top: 0px;
    }
    &--before {
      left: 0px;
      width: 30%;
      img {
        object-position: top left;
      }
    }
    &--after {
      width: 70%;
      right: 0px;
      img {
        object-position: top right;
      }
    }
  }
}
